#cms_admin_panel_open{
	min-width:1000px;
	height:80px;
	background:#333333;
	font-family:Arial, Helvetica, sans-serif;
}
#cms_admin_panel_close{
	min-width:1000px;
	height:22px;
	background:#333333;
	font-family:Arial, Helvetica, sans-serif;
}
#cms_to_admin_open{
	display:block;
	width:30px;
	float:left;
	height:80px;
	text-align:center;
	vertical-align:bottom;
	border-right:1px solid #186080;
	background:url(images/admin/panel.bg.png) top repeat-x;
}
#cms_to_admin_open:hover{
	background-position:0 -80px;
}
#cms_to_admin_close{
	display:block;
	width:60px;
	float:left;
	height:19px;
	text-align:center;
	vertical-align:bottom;
	border-right:1px solid #186080;
	background:url(images/admin/panel.admin.bg.png) 0 -160px repeat-x;
	color:#FFF;
	padding-top:3px;
	font-size:12px;
	text-decoration:none;
}
#cms_to_admin_close:hover{
	background-position:0 -182px;
}
#cms_buttons_wrap{
	height:80px;
	margin-left:50px;
	width:50%;
}
.cms_button{
	display:block;
	width:80px;
	float:left;
	height:80px;
	border-left:1px solid #666666;
	border-right:1px solid #2C2D2E;
	background:url(images/admin/panel.admin.bg.png) 0 -204px repeat-x;
}
.cms_button:hover{
	background-position:0 -284px;
}
.cms_button div{
	cursor:pointer;
	font-size:11px;
	line-height:11px;
	width:80px;
	height:80px;
	color:#FFF;
}
.cms_button div:hover{
	color:#29ABE2;
}
.cms_button div span{
	width:80px;
	height:30px;
	display:table-cell;
	padding-top:45px;
	vertical-align:middle;
	text-align:center;

}
#cms_panel_btn_cache{
	background:url(images/admin/panel.icons.png) 0 0 no-repeat;
}
#cms_panel_btn_cache:hover{
	background-position:0 -80px;	
}
#cms_btn_sql{
	background:url(images/admin/panel.icons.png) -80px 0 no-repeat;
}
#cms_btn_sql:hover{
	background-position:-80px -80px;	
}
#cms_btn_shabl{
	background:url(images/admin/panel.icons.png) -160px 0 no-repeat;
}
#cms_btn_shabl:hover{
	background-position:-160px -80px;
}
#cms_btn_red{
	background:url(images/admin/panel.icons.png) -240px 0 no-repeat;
}
#cms_btn_red:hover{
	background-position:-240px -80px;
}
#cms_btn_del{
	background:url(images/admin/panel.icons.png) -320px 0 no-repeat;
}
#cms_btn_del:hover{
	background-position:-320px -80px;
}
#cms_right_open{
	height:80px;
	float:right;
}
#cms_hide_open{
	width:67px;
	height:17px;
	margin-top:58px;
	margin-right:50px;
	border-top:1px solid #666666;
	border-left:1px solid #666666;
	border-right:1px solid #666666;
	-moz-border-radius:7px 7px 0px 0px;
    -webkit-border-radius:7px 7px 0px 0px;
    border-radius:7px 7px 0px 0px;
	cursor:pointer;
	font-size:12px;
	padding:3px 0 0 15px;
	color:#969696;
}
#cms_hide_open:hover{
	background:#444444;
	color:#FFF;
}
#cms_right_close{
	height:22px;
	float:right;
}
#cms_hide_close{
	width:67px;
	height:17px;
	margin-right:50px;
	border-left:1px solid #666666;
	cursor:pointer;
	font-size:12px;
	padding:3px 0 0 15px;
	color:#969696;
}
#cms_hide_close:hover{
	color:#FFF;
}
